# This file defines the menus on the website. See the documentation for
# details: http://docs.bolt.cm/menus

main:
  - label: About
    path: about
    class: first
    submenu:
      - label: Awards
        path: awards
      - label: Robots
        path: robots
      - label: Website
        path: website
      - label: Contact
        path: contact
      - label: Sponsors
        path: sponsors
  - label: Resources
    path: resources
    submenu:
      - label: Building
        path: resources/building
      - label: Programming
        path: resources/programming
      - label: CAD
        path: resources/cad
      - label: Other
        path: resources/other
  - label: Blog
    path: blog/
  - label: Calendar
    path: calendar
  - label: Join
    path: join
    class: last
