{% extends 'dist/templates/base.twig' %}
{% block supercontent %}
<header class="site-header">
    <div class="content-wrapper">
        <div class="logo-container">
            <img class="logo" src="img/kforce-logo.svg" alt="K Force Logo" />
        </div>
        <img class="big-logo" src="img/kforce-logo.svg" alt="K Force Logo" />
    </div>
</header>
{% block content %}

{% endblock %}
{% endblock %}
