{% extends 'dist/templates/basic-page.twig' %}
{% set pageclasses = pageclasses ~ ' calendar' %}
{% block content %}
<!-- Main Page Content and Sidebar -->
<!-- Main Blog Content -->
<div class="content-wrapper" role="content">
    <article>
        <h1>Calendar</h1>
        <div id="calendar"></div>
    </article>
</div>
<!-- End Main Content -->
<!-- End Main Content and Sidebar -->
{% endblock %}
