/* Variables
   ========================================================================== */

@header-height: 40px;
@logo-size-small: 50px;
@logo-size-large: 100px;
@menu-width: 250px;
@logo-text-width: 130px;

/* Styles
   ========================================================================== */

.nav-container-sticky() {
    position: fixed;

    .site-nav {
        margin-left: 0;
        margin-right: 0;
    }

    .logo-container {
        transform: translateY(0);
        visibility: visible;
    }

    .logo {
        transform: rotate(0) translateX(0);
    }
}

.dropdown-active() {
    > ul {
        .iterations(@n) when (@n > 0) {
            &.drop-@{n} {
                max-height: @n * @header-height;
            }
            .iterations(@n - 1);
        }

        .iterations(6);
    }
}

.site-header {
    width: 100%;
    text-align: center;

    background: @brand-dark-blue;

    .uncollapse();

    * {
        color: #fff;
    }

    .brand-container {
        display: none;
    }

    .nav-placeholder,
    .nav-container {
        height: @header-height;
    }

    .nav-container {
        top: 0;
        left: 0;
        width: 100%;
        background: @brand-dark-blue;
        z-index: 10;

        .nav-container-sticky;
    }

    .big-container {
        margin: 10px auto;
        position: relative;

        width: 120px;
        height: 120px;

        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .big-logo {
        width: 100%;
        height: 100%;
    }

    .logo-text-container {
        position: absolute;
        top: 50%;

        width: @logo-text-width;
        height: 50px;

        .stripe {
            position: absolute;
            top: 50%;

            width: 100%;
            height: 1px;

            background: #fff;
        }

        .big-text {
            position: absolute;
            bottom: 50%;
            margin-bottom: 5px;

            height: 20px;

            line-height: 20px;
            vertical-align: bottom;
            font-size: 1.3em;
            font-weight: 800;
            letter-spacing: 0.02em;
            color: #fff;
        }

        .small-text {
            position: absolute;
            top: 50%;
            margin-top: 5px;

            height: 20px;
            line-height: 20px;
            vertical-align: top;
            font-size: 0.9em;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #fff;
        }

        &.left {
            left: -@logo-text-width - 10px;

            .big-text, .small-text {
                left: 0;
            }
        }

        &.right {
            right: -@logo-text-width - 10px;

            .big-text, .small-text {
                right: 0;
                text-align: right;
            }
        }
    }

    .menu-button, .close-button {
        .fa;

        position: absolute;
        &:before {
            font-size: 30px;
        }

        &:hover {
            color: @brand-light-blue;
        }

        transition-property: color;
        transition-duration: 0.2s;

        cursor: pointer;
    }

    .menu-button {
        right: @punit;
        top: (@header-height - 30) / 2;

        &:before {
            content: @fa-var-bars;
        }
    }

    .close-button-under {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        width: 100%;
        height: @header-height;

        background-color: @brand-dark-blue;
    }

    .close-button {
        left: @punit;
        top: (@header-height - 30) / 2;

        &:before {
            content: @fa-var-close;
        }
    }

    .nav-container.active {
        .site-nav {
            .no-csstransforms & {
                right: 0px;
            }

            .csstransforms & {
                transform: translateX(-@menu-width);
            }
        }

        @media @header-ready {
            .csstransforms & .site-nav {
                transform: none;
            }
        }
    }

    .site-nav {
        position: fixed;
        top: 0;
        right: -@menu-width;
        z-index: 10;

        width: @menu-width;
        height: 100%;
        box-sizing: border-box;

        background: @brand-dark-blue;

        transform: translateX(0px);

        transition: right 0.5s, transform 0.5s;

        text-align: left;

        .scroll-container {
            position: absolute;
            left: 0;
            top: @header-height;
            bottom: 0;

            width: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        a, a:visited {
            height: @header-height;
            display: inline-block;
            box-sizing: border-box;
            padding-left: @punit;

            text-decoration: none;
            font-weight: 100;
            letter-spacing: .02em;
            font-size: 1.2em;
            color: #fff;
            line-height: @header-height;
        }

        .drop-indicator {
            display: inline-block;
            vertical-align: top;

            width: 20px;
            height: @header-height;
            padding-right: 5px;

            line-height: @header-height;
            text-align: right;

            cursor: pointer;

            &:before {
                content: ' ';
                width: 0;
                height: 0;

                line-height: @header-height;
                display: inline-block;
                border-left: 5px inset transparent;
                border-right: 5px inset transparent;

                border-top: 7px solid #fff;

                transition: transform 0.2s, border-top 0.2s;
            }

            &:hover:before {
                border-top: 7px solid @brand-light-blue;
            }
        }

        .scroll-container ul {
            margin: 0;
            padding: 0;
        }

        .scroll-container > ul {
            margin-top: 10px;
            > li {
                position: relative;
                z-index: 100;
                vertical-align: top;

                min-height: @header-height;
                display: block;
                overflow: visible;

                &.active {
                    .dropdown-active;
                }

                &.active {
                    .drop-indicator:before {
                        transform: rotate(180deg);
                    }
                }

                > a:hover {
                    color: @brand-light-blue;
                }

                > ul {
                    overflow: hidden;
                    z-index: 100;
                    width: 100%;
                    text-align: left;
                    background: @brand-blue;
                    top: @header-height;
                    max-height: 0px;

                    transition: max-height 0.6s, visibility 0.6s;

                    > li {
                        display: block;

                        a {
                            width: 100%;
                        }

                        &:hover {
                            //background-color: lighten(@brand-dark-blue, 20%);
                            a,
                            a:visited{
                                color: @brand-light-blue;
                            }
                        }
                    }
                }
            }
        }

        @media @header-ready {
            position: static;
            margin: auto;

            width: auto;
            padding: 0;

            background: transparent;

            text-align: center;

            .scroll-container {
                position: static;

                overflow: visible;
            }

            .scroll-container > ul {
                margin-top: 0;
                > li {
                    display: inline-block;
                    padding-right: 10px;

                    &.has-submenu {
                        padding-right: 5px;
                    }

                    &.hover,
                    .no-js &:hover {
                        .dropdown-active;
                    }

                    > ul {
                        position: absolute;

                        width: 150px;

                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0) 5px);
                         .subtle-shadow();
                    }
                }
            }

            a {
                padding-left: 10px;
            }
        }
    }

    @media @header-ready {
        .brand-container {
            display: block;
        }

        .close-button-under, .menu-button {
            display: none;
        }

        .nav-container {
            -webkit-transform: translateZ(0);
            position: relative;

            &.sticky {
                .nav-container-sticky;
            }

            .logo-container {
                transform: translateY((@header-height - @logo-size-small) / 2 - 5px);
                visibility: hidden;

                transition: transform 0.8s, visibility 0.8s;
            }

            .logo {
                transform: translateX(-@logo-size-small - 5px) rotate(-179deg);

                transition: transform 0.8s;
            }
        }
    }

    .logo-container {
        position: absolute;
        left: (@header-height - @logo-size-small) / 2 - 5px + @punit;
        top: (@header-height - @logo-size-small) / 2 - 5px;
        display: block;
        z-index: 20;

        height: @logo-size-small + 10px;
        width: @logo-size-small + 10px;
        border-radius: 50%;

        background: @brand-dark-blue;

        overflow: hidden;
        // Safari fix
        -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    }

    .logo {
        display: block;
        margin-top: 5px;
        margin-left: 5px;

        height: @logo-size-small;
        width: @logo-size-small;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .content-wrapper {
        position: relative;
    }
}

