/* Variables
   ========================================================================== */

@header-height: 40px;
@logo-size-small: 50px;
@logo-size-large: 100px;
@menu-width: 250px;

/* Styles
   ========================================================================== */

.nav-container-sticky() {
    position: fixed;
    z-index: 10;

    .site-nav {
        margin-left: 0;
        margin-right: 0;
    }

    .logo-container {
        transform: translateY(0);
    }

    .logo {
        transform: rotate(0) translateX(0);
    }
}

.dropdown-active() {
    > ul {
        max-height: 300px;

        background-color: lighten(@brand-dark-blue, 10%);
    }
}

.site-header {
    width: 100%;
    text-align: center;

    background: @brand-dark-blue;

    .uncollapse();

    * {
        color: #fff;
    }

    .brand-container {
        display: none;
    }

    .nav-placeholder,
    .nav-container {
        height: @header-height;
    }

    .nav-container {
        top: 0;
        left: 0;
        width: 100%;
        background: @brand-dark-blue;

        .nav-container-sticky;
    }

    .big-logo {
        margin: 10px auto;

        width: 120px;
        height: 120px;
    }

    .menu-button, .close-button {
        .fa;

        position: absolute;
        &:before {
            font-size: 30px;
        }

        &:hover {
            color: @brand-light-blue;
        }

        transition-property: color;
        transition-duration: 0.2s;

        cursor: pointer;
    }

    .menu-button {
        right: @punit;
        top: (@header-height - 30) / 2;

        &:before {
            content: @fa-var-bars;
        }
    }

    .close-button-under {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        width: 100%;
        height: @header-height;

        background-color: @brand-dark-blue;
    }

    .close-button {
        left: @punit;
        top: (@header-height - 30) / 2;

        &:before {
            content: @fa-var-close;
        }
    }

    .nav-container.active {
        .site-nav {
            .no-csstransforms & {
                right: 0px;
            }

            .csstransforms & {
                transform: translateX(-@menu-width);
            }
        }

        @media @medium {
            .csstransforms & .site-nav {
                transform: none;
            }
        }
    }

    .site-nav {
        position: fixed;
        right: -@menu-width;
        z-index: 10;

        width: @menu-width;
        height: 100%;
        box-sizing: border-box;

        background: @brand-dark-blue;

        transform: translateX(0px);

        transition: right 0.5s, transform 0.5s;

        text-align: left;

        .scroll-container {
            width: 100%;
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        a, a:visited {
            height: @header-height;
            display: inline-block;
            box-sizing: border-box;
            padding-left: @punit;

            text-decoration: none;
            font-weight: 100;
            letter-spacing: .02em;
            font-size: 1.2em;
            color: #fff;
            line-height: @header-height;
        }

        .drop-indicator {
            display: inline-block;
            width: 30px;
            height: @header-height;
            vertical-align: top;
            line-height: @header-height;

            margin-right: -8px;

            cursor: pointer;

            &:before {
                content: ' ';
                width: 0;
                height: 0;

                line-height: @header-height;
                display: inline-block;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;

                border-top: 10px solid #fff;

                transition: transform 0.2s, border-top 0.2s;
            }

            &:hover:before {
                border-top: 10px solid @brand-light-blue;
            }
        }

        .scroll-container ul {
            margin: 0;
            padding: 0;
        }

        .scroll-container > ul {
            margin-top: @header-height + 10px;
            > li {
                min-height: @header-height;
                display: block;
                overflow: visible;
                z-index: 100;

                &.active {
                    .dropdown-active;
                }

                &.active {
                    .drop-indicator:before {
                        transform: rotate(90deg);
                    }
                }

                > a:hover {
                    color: @brand-light-blue;
                }

                > ul {
                    overflow: hidden;
                    z-index: 100;
                    width: 100%;
                    text-align: left;
                    background: lighten(@brand-dark-blue, 10%);
                    top: @header-height;
                    max-height: 0px;

                    transition: max-height 0.8s;

                    > li {
                        display: block;

                        a {
                            width: 100%;
                        }

                        &:hover {
                            background-color: lighten(@brand-dark-blue, 20%);
                        }
                    }
                }
            }
        }

        @media @medium {
            position: static;
            margin: auto;

            width: auto;
            padding: 0;

            background: transparent;

            text-align: center;

            .scroll-container > ul {
                margin-top: 0;
                > li {
                    display: inline-block;
                    padding-right: 10px;

                    &.hover,
                    .no-js &:hover {
                        background-color: lighten(@brand-dark-blue, 10%);


                        .dropdown-active;
                    }

                    > ul {
                        background: @brand-dark-blue;
                        position: absolute;

                        width: 150px;
                    }
                }
            }

            a {
                padding-left: 10px;
            }
        }
    }

    @media @medium {
        .brand-container {
            display: block;
        }

        .close-button-under, .menu-button {
            display: none;
        }

        .nav-container {
            position: static;

            &.sticky {
                .nav-container-sticky;
            }

            .logo-container {
                transform: translateY((@header-height - @logo-size-small) / 2 - 5px);

                transition: transform 0.8s;
            }

            .logo {
                transform: translateX(-@logo-size-small - 5px) rotate(-180deg);

                transition: transform 0.8s;
            }
        }
    }

    .logo-container {
        position: absolute;
        left: (@header-height - @logo-size-small) / 2 - 5px + @punit;
        top: (@header-height - @logo-size-small) / 2 - 5px;
        display: block;

        height: @logo-size-small + 10px;
        width: @logo-size-small + 10px;
        border-radius: 50%;

        background: @brand-dark-blue;

        overflow: hidden;
    }

    .logo {
        margin-top: 5px;
        margin-bottom: 5px;

        height: @logo-size-small;
        width: @logo-size-small;
    }

    .content-wrapper {
        position: relative;
    }
}

