html {
    overflow-x: hidden;
    height: 100%;
}

body {
    position: relative;

    min-height: 100%;
    background-color: @brand-bg-blue;
    overflow-x: hidden;
    box-sizing: border-box;
}

.content-wrapper {
    margin: 0 auto;

    width: @wrapper-width + @punit * 2;
    max-width: 100%;
    padding: 0 @punit;
    box-sizing: border-box;

    .uncollapse;

    @media @xlarge {
        width: @wrapper-width-large + @punit * 2;
    }
}

.main-content {
    img {
        width: 100% !important;
        height: auto !important;
    }
}

.record {
    .image-holder {
        float: left;
        height: 100%;
        margin-right: @punit;
    }

    margin: @punit 0;

    padding: @punit;
    background-color: lighten(@brand-bg-blue, 10%);
    border: 1px dashed darken(@brand-bg-blue, 10%);
    box-sizing: border-box;

    .clearfix;

    h6 {
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0;
    }
}

.page-image {
    margin-top: 40px;

    width: 100%;
    height: 300px;

    background-size: cover;
    background-position: center;
}

.page-wrap {
    min-height: 100%;
    position: relative;
}

